<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @event.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>N치zev akce:</strong></td>
                <td><%= @event.title %></td>
              </tr>
              <tr>
                <td><strong>Popis:</strong></td>
                <td><%= @event.description %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>N치zev akce:</strong></td>
                <td><%= @event.title %></td>
              </tr>
              <tr>
                <td><strong>Popis:</strong></td>
                <td><%= @event.description %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
    
    <hr class="showpage">
    
    <div class="row">
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>N치zev akce:</strong></td>
                <td><%= @event.title %></td>
              </tr>
              <tr>
                <td><strong>Popis:</strong></td>
                <td><%= @event.description %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>N치zev akce:</strong></td>
                <td><%= @event.title %></td>
              </tr>
              <tr>
                <td><strong>Popis:</strong></td>
                <td><%= @event.description %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
    
    
    
  </div>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
